<h1><%= @category.name %></h1>

<ul>
<% @category.items.each do |item| %>
    <li><%= link_to item.title, item_path(item) %> | <%= to_dollars(item.price) %> | <%= button_to 'Add to Cart', line_items_path(item_id: item) %></li>

<% end %>
</ul>
